/** card common style */
.card-container {
  position: relative;
  
  &.img {
    padding: 0;

    .card-cover {
      position: relative;
      overflow: hidden;

      > img {
        display: block;
        width: 100%;
        max-height: 380px;
        object-fit: cover;
      }
    }

    .card-text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: var(--content-large-padding);
    }
  }

  .card-cover {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #9E7A7A; /* 修改为您希望的背景颜色 */
    
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  .card-text {
    line-height: var(--font-base-line-height);
    color: var(--theme-text-light);
    position: relative;
    transition: transitions(color, 0.3s);

    .card-text--title {
      font-size: var(--font-stress-size);
      font-weight: bolder;
    }

    .card-text--row {
      font-size: var(--font-common-size);
      margin-top: var(--layout-padding-x);
    }

    .card-text--tag {
      display: flex;
      flex-wrap: wrap;
      margin-top: 18px;
      margin-left: -8px;
      margin-right: -8px;
  
      a {
        border-radius: 20px;
        padding: 4px 8px;
        transition: color 0.3s ease, background-color 0.3s ease;
        &::before {
          content: "#";
          margin-right: 4px;
        }
  
        &:hover {
          color: var(--theme-text-active);
          background-color: #fff;
        }
      }
    }
  }
}

/** section swiper style */
.section-swiper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x proximity;

  &::-webkit-scrollbar {
    display: flex;
    flex-wrap: wrap;
  }

  .swiper-item {
    padding: var(--layout-padding-x);
    scroll-snap-align: center;
    @include mq-pc {
      width: 25%;
      flex: 0 0 25%;
      min-width: 25%;
    }
    @include mq-mb {
      width: 50%;
      flex: 1 1 50%;
      min-width: 50%;
    }
  }
}

/** article lsit style */
.article-list {
  display: flex;
  flex-wrap: wrap;

  .article-card {
    height: 100%;
  }

  .article-item {
    padding: var(--layout-padding-x);
    max-width: 80%;
    flex: 1 0 auto;

    @include mq-pc {
      min-width: 35%;
    }

    @include mq-mb {
      width: 89%;
      min-width: 89%;
      margin: auto;
    }

    &:nth-child(1n) .article-card .card-cover {
      background-color: #B9887D; 
    }

    &:nth-child(2n) .article-card .card-cover {
      background-color: #DC9F84; 
    }

    &:nth-child(3n) .article-card .card-cover {
      background-color: #E3916E; 
    }

    &:nth-child(4n) .article-card .card-cover {
      background-color: #D19826; 
    }
  }
}

/** article paging style */
.article-paging {
  display: flex;
  flex-wrap: wrap;

  .post-paging--item {
    margin: var(--layout-padding-x);
    color: var(--theme-text-dark); /* 根据实际需求调整文本颜色 */
    text-align: center;
    flex: 1;
    transition: transitions(color, 0.3s);
  }
}
